version: '3.8'

services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: <your_root_password>
      MYSQL_DATABASE: myapp
      MYSQL_USER: sbaitman
      MYSQL_PASSWORD: <your_mysql_password>
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data: